--
-- PostgreSQL database dump
--

\restrict 1mk36IE8p7R2eMR7wdrYIfCeF2ShbPodQsh0F5igYkdlosaIugM2dy1wu2pyl3r

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

-- Started on 2025-11-09 22:27:49 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.user_role_history DROP CONSTRAINT IF EXISTS user_role_history_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_role_history DROP CONSTRAINT IF EXISTS user_role_history_changed_by_fkey;
ALTER TABLE IF EXISTS ONLY public.user_permissions DROP CONSTRAINT IF EXISTS user_permissions_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_permissions DROP CONSTRAINT IF EXISTS user_permissions_granted_by_fkey;
ALTER TABLE IF EXISTS ONLY public.user_login_sessions DROP CONSTRAINT IF EXISTS user_login_sessions_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_activity_log DROP CONSTRAINT IF EXISTS user_activity_log_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_access_levels DROP CONSTRAINT IF EXISTS user_access_levels_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_access_levels DROP CONSTRAINT IF EXISTS user_access_levels_granted_by_fkey;
ALTER TABLE IF EXISTS ONLY public.user_2fa_settings DROP CONSTRAINT IF EXISTS user_2fa_settings_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.sessions DROP CONSTRAINT IF EXISTS sessions_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.security_logs DROP CONSTRAINT IF EXISTS security_logs_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_last_edited_by_fkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS posts_last_edited_by_fkey;
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS posts_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_templates DROP CONSTRAINT IF EXISTS newsletter_templates_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_campaigns DROP CONSTRAINT IF EXISTS newsletter_campaigns_template_id_fkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_campaigns DROP CONSTRAINT IF EXISTS newsletter_campaigns_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_automation_rules DROP CONSTRAINT IF EXISTS newsletter_automation_rules_template_id_fkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_automation_rules DROP CONSTRAINT IF EXISTS newsletter_automation_rules_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_analytics DROP CONSTRAINT IF EXISTS newsletter_analytics_subscriber_id_fkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_analytics DROP CONSTRAINT IF EXISTS newsletter_analytics_campaign_id_fkey;
ALTER TABLE IF EXISTS ONLY public.media_folders DROP CONSTRAINT IF EXISTS media_folders_parent_id_fkey;
ALTER TABLE IF EXISTS ONLY public.media_files DROP CONSTRAINT IF EXISTS media_files_uploaded_by_fkey;
ALTER TABLE IF EXISTS ONLY public.content_versions DROP CONSTRAINT IF EXISTS content_versions_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.content_drafts DROP CONSTRAINT IF EXISTS content_drafts_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.content_comments DROP CONSTRAINT IF EXISTS content_comments_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.content_collaborators DROP CONSTRAINT IF EXISTS content_collaborators_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.content_collaborators DROP CONSTRAINT IF EXISTS content_collaborators_invited_by_fkey;
ALTER TABLE IF EXISTS ONLY public.bulk_operations_log DROP CONSTRAINT IF EXISTS bulk_operations_log_performed_by_fkey;
ALTER TABLE IF EXISTS ONLY public.accounts DROP CONSTRAINT IF EXISTS accounts_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.access_requests DROP CONSTRAINT IF EXISTS access_requests_processed_by_fkey;
DROP TRIGGER IF EXISTS update_user_2fa_settings_updated_at ON public.user_2fa_settings;
DROP TRIGGER IF EXISTS update_roles_updated_at ON public.roles;
DROP TRIGGER IF EXISTS update_projects_updated_at ON public.projects;
DROP TRIGGER IF EXISTS update_projects_last_edited_at ON public.projects;
DROP TRIGGER IF EXISTS update_profiles_updated_at ON public.profiles;
DROP TRIGGER IF EXISTS update_posts_updated_at ON public.posts;
DROP TRIGGER IF EXISTS update_posts_last_edited_at ON public.posts;
DROP TRIGGER IF EXISTS update_pages_updated_at ON public.pages;
DROP TRIGGER IF EXISTS update_newsletter_templates_updated_at ON public.newsletter_templates;
DROP TRIGGER IF EXISTS update_newsletter_content_updated_at ON public.newsletter_content;
DROP TRIGGER IF EXISTS update_content_templates_updated_at ON public.content_templates;
DROP TRIGGER IF EXISTS update_content_drafts_updated_at ON public.content_drafts;
DROP TRIGGER IF EXISTS update_content_comments_updated_at ON public.content_comments;
DROP TRIGGER IF EXISTS update_categories_updated_at ON public.categories;
DROP INDEX IF EXISTS public.idx_verification_tokens_token;
DROP INDEX IF EXISTS public.idx_user_role_history_user_id;
DROP INDEX IF EXISTS public.idx_user_permissions_user_id;
DROP INDEX IF EXISTS public.idx_user_permissions_permission_name;
DROP INDEX IF EXISTS public.idx_user_login_sessions_user_id;
DROP INDEX IF EXISTS public.idx_user_login_sessions_expires_at;
DROP INDEX IF EXISTS public.idx_user_activity_log_user_id;
DROP INDEX IF EXISTS public.idx_user_activity_log_created_at;
DROP INDEX IF EXISTS public.idx_user_activity_log_action;
DROP INDEX IF EXISTS public.idx_user_access_levels_professional;
DROP INDEX IF EXISTS public.idx_user_access_levels_personal;
DROP INDEX IF EXISTS public.idx_user_access_levels_email;
DROP INDEX IF EXISTS public.idx_sessions_user_id;
DROP INDEX IF EXISTS public.idx_sessions_session_token;
DROP INDEX IF EXISTS public.idx_security_logs_user_id;
DROP INDEX IF EXISTS public.idx_security_logs_created_at;
DROP INDEX IF EXISTS public.idx_projects_status;
DROP INDEX IF EXISTS public.idx_projects_slug;
DROP INDEX IF EXISTS public.idx_projects_permission_level;
DROP INDEX IF EXISTS public.idx_projects_last_edited;
DROP INDEX IF EXISTS public.idx_projects_featured;
DROP INDEX IF EXISTS public.idx_profiles_home_page_skills;
DROP INDEX IF EXISTS public.idx_posts_status;
DROP INDEX IF EXISTS public.idx_posts_slug;
DROP INDEX IF EXISTS public.idx_posts_published;
DROP INDEX IF EXISTS public.idx_posts_permission_level;
DROP INDEX IF EXISTS public.idx_posts_last_edited;
DROP INDEX IF EXISTS public.idx_posts_date;
DROP INDEX IF EXISTS public.idx_pages_slug;
DROP INDEX IF EXISTS public.idx_newsletter_subscribers_source;
DROP INDEX IF EXISTS public.idx_newsletter_subscribers_email;
DROP INDEX IF EXISTS public.idx_newsletter_subscribers_active;
DROP INDEX IF EXISTS public.idx_newsletter_campaigns_type;
DROP INDEX IF EXISTS public.idx_newsletter_campaigns_status;
DROP INDEX IF EXISTS public.idx_newsletter_campaigns_scheduled;
DROP INDEX IF EXISTS public.idx_newsletter_automation_rules_next_run;
DROP INDEX IF EXISTS public.idx_newsletter_automation_rules_active;
DROP INDEX IF EXISTS public.idx_newsletter_analytics_subscriber;
DROP INDEX IF EXISTS public.idx_newsletter_analytics_event_type;
DROP INDEX IF EXISTS public.idx_newsletter_analytics_created_at;
DROP INDEX IF EXISTS public.idx_newsletter_analytics_campaign;
DROP INDEX IF EXISTS public.idx_media_folders_parent;
DROP INDEX IF EXISTS public.idx_media_files_updated_at;
DROP INDEX IF EXISTS public.idx_media_files_tags;
DROP INDEX IF EXISTS public.idx_media_files_starred;
DROP INDEX IF EXISTS public.idx_media_files_folder;
DROP INDEX IF EXISTS public.idx_content_versions_content_type;
DROP INDEX IF EXISTS public.idx_content_versions_content_id;
DROP INDEX IF EXISTS public.idx_content_drafts_updated_at;
DROP INDEX IF EXISTS public.idx_content_drafts_type;
DROP INDEX IF EXISTS public.idx_content_drafts_created_by;
DROP INDEX IF EXISTS public.idx_content_drafts_content_id;
DROP INDEX IF EXISTS public.idx_content_comments_content_id;
DROP INDEX IF EXISTS public.idx_content_collaborators_user_id;
DROP INDEX IF EXISTS public.idx_content_collaborators_content_id;
DROP INDEX IF EXISTS public.idx_categories_slug;
DROP INDEX IF EXISTS public.idx_bulk_operations_log_performed_by;
DROP INDEX IF EXISTS public.idx_accounts_user_id;
DROP INDEX IF EXISTS public.idx_accounts_provider;
DROP INDEX IF EXISTS public.idx_access_requests_status;
DROP INDEX IF EXISTS public.idx_access_requests_email;
ALTER TABLE IF EXISTS ONLY public.verification_tokens DROP CONSTRAINT IF EXISTS verification_tokens_token_key;
ALTER TABLE IF EXISTS ONLY public.verification_tokens DROP CONSTRAINT IF EXISTS verification_tokens_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.user_role_history DROP CONSTRAINT IF EXISTS user_role_history_pkey;
ALTER TABLE IF EXISTS ONLY public.user_permissions DROP CONSTRAINT IF EXISTS user_permissions_user_id_permission_name_key;
ALTER TABLE IF EXISTS ONLY public.user_permissions DROP CONSTRAINT IF EXISTS user_permissions_pkey;
ALTER TABLE IF EXISTS ONLY public.user_login_sessions DROP CONSTRAINT IF EXISTS user_login_sessions_pkey;
ALTER TABLE IF EXISTS ONLY public.user_activity_log DROP CONSTRAINT IF EXISTS user_activity_log_pkey;
ALTER TABLE IF EXISTS ONLY public.user_access_levels DROP CONSTRAINT IF EXISTS user_access_levels_pkey;
ALTER TABLE IF EXISTS ONLY public.user_access_levels DROP CONSTRAINT IF EXISTS user_access_levels_email_key;
ALTER TABLE IF EXISTS ONLY public.user_2fa_settings DROP CONSTRAINT IF EXISTS user_2fa_settings_user_id_key;
ALTER TABLE IF EXISTS ONLY public.user_2fa_settings DROP CONSTRAINT IF EXISTS user_2fa_settings_pkey;
ALTER TABLE IF EXISTS ONLY public.site_settings DROP CONSTRAINT IF EXISTS site_settings_setting_key_key;
ALTER TABLE IF EXISTS ONLY public.site_settings DROP CONSTRAINT IF EXISTS site_settings_pkey;
ALTER TABLE IF EXISTS ONLY public.sessions DROP CONSTRAINT IF EXISTS sessions_session_token_key;
ALTER TABLE IF EXISTS ONLY public.sessions DROP CONSTRAINT IF EXISTS sessions_pkey;
ALTER TABLE IF EXISTS ONLY public.security_logs DROP CONSTRAINT IF EXISTS security_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_name_key;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_slug_key;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_pkey;
ALTER TABLE IF EXISTS ONLY public.profiles DROP CONSTRAINT IF EXISTS profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS posts_slug_key;
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS posts_pkey;
ALTER TABLE IF EXISTS ONLY public.pages DROP CONSTRAINT IF EXISTS pages_slug_key;
ALTER TABLE IF EXISTS ONLY public.pages DROP CONSTRAINT IF EXISTS pages_pkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_templates DROP CONSTRAINT IF EXISTS newsletter_templates_pkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_subscribers DROP CONSTRAINT IF EXISTS newsletter_subscribers_pkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_subscribers DROP CONSTRAINT IF EXISTS newsletter_subscribers_email_key;
ALTER TABLE IF EXISTS ONLY public.newsletter_content DROP CONSTRAINT IF EXISTS newsletter_content_pkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_campaigns DROP CONSTRAINT IF EXISTS newsletter_campaigns_slug_key;
ALTER TABLE IF EXISTS ONLY public.newsletter_campaigns DROP CONSTRAINT IF EXISTS newsletter_campaigns_pkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_automation_rules DROP CONSTRAINT IF EXISTS newsletter_automation_rules_pkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_analytics DROP CONSTRAINT IF EXISTS newsletter_analytics_pkey;
ALTER TABLE IF EXISTS ONLY public.newsletter_analytics DROP CONSTRAINT IF EXISTS newsletter_analytics_campaign_id_subscriber_id_event_type_c_key;
ALTER TABLE IF EXISTS ONLY public.media_folders DROP CONSTRAINT IF EXISTS media_folders_pkey;
ALTER TABLE IF EXISTS ONLY public.media_files DROP CONSTRAINT IF EXISTS media_files_pkey;
ALTER TABLE IF EXISTS ONLY public.content_versions DROP CONSTRAINT IF EXISTS content_versions_pkey;
ALTER TABLE IF EXISTS ONLY public.content_versions DROP CONSTRAINT IF EXISTS content_versions_content_id_version_number_key;
ALTER TABLE IF EXISTS ONLY public.content_templates DROP CONSTRAINT IF EXISTS content_templates_pkey;
ALTER TABLE IF EXISTS ONLY public.content_drafts DROP CONSTRAINT IF EXISTS content_drafts_pkey;
ALTER TABLE IF EXISTS ONLY public.content_drafts DROP CONSTRAINT IF EXISTS content_drafts_content_type_content_id_key;
ALTER TABLE IF EXISTS ONLY public.content_comments DROP CONSTRAINT IF EXISTS content_comments_pkey;
ALTER TABLE IF EXISTS ONLY public.content_collaborators DROP CONSTRAINT IF EXISTS content_collaborators_pkey;
ALTER TABLE IF EXISTS ONLY public.categories DROP CONSTRAINT IF EXISTS categories_slug_key;
ALTER TABLE IF EXISTS ONLY public.categories DROP CONSTRAINT IF EXISTS categories_pkey;
ALTER TABLE IF EXISTS ONLY public.bulk_operations_log DROP CONSTRAINT IF EXISTS bulk_operations_log_pkey;
ALTER TABLE IF EXISTS ONLY public.accounts DROP CONSTRAINT IF EXISTS accounts_pkey;
ALTER TABLE IF EXISTS ONLY public.access_requests DROP CONSTRAINT IF EXISTS access_requests_pkey;
ALTER TABLE IF EXISTS public.media_folders ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.verification_tokens;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_role_history;
DROP TABLE IF EXISTS public.user_permissions;
DROP TABLE IF EXISTS public.user_login_sessions;
DROP TABLE IF EXISTS public.user_activity_log;
DROP TABLE IF EXISTS public.user_access_levels;
DROP TABLE IF EXISTS public.user_2fa_settings;
DROP TABLE IF EXISTS public.site_settings;
DROP TABLE IF EXISTS public.sessions;
DROP TABLE IF EXISTS public.security_logs;
DROP TABLE IF EXISTS public.roles;
DROP TABLE IF EXISTS public.projects;
DROP TABLE IF EXISTS public.profiles;
DROP TABLE IF EXISTS public.posts;
DROP TABLE IF EXISTS public.pages;
DROP TABLE IF EXISTS public.newsletter_templates;
DROP TABLE IF EXISTS public.newsletter_subscribers;
DROP TABLE IF EXISTS public.newsletter_content;
DROP TABLE IF EXISTS public.newsletter_campaigns;
DROP TABLE IF EXISTS public.newsletter_automation_rules;
DROP TABLE IF EXISTS public.newsletter_analytics;
DROP SEQUENCE IF EXISTS public.media_folders_id_seq;
DROP TABLE IF EXISTS public.media_folders;
DROP TABLE IF EXISTS public.media_files;
DROP TABLE IF EXISTS public.content_versions;
DROP TABLE IF EXISTS public.content_templates;
DROP TABLE IF EXISTS public.content_drafts;
DROP TABLE IF EXISTS public.content_comments;
DROP TABLE IF EXISTS public.content_collaborators;
DROP TABLE IF EXISTS public.categories;
DROP TABLE IF EXISTS public.bulk_operations_log;
DROP TABLE IF EXISTS public.accounts;
DROP TABLE IF EXISTS public.access_requests;
DROP FUNCTION IF EXISTS public.update_updated_at_column();
DROP FUNCTION IF EXISTS public.update_last_edited_at();
DROP EXTENSION IF EXISTS "uuid-ossp";
--
-- TOC entry 2 (class 3079 OID 24576)
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- TOC entry 3976 (class 0 OID 0)
-- Dependencies: 2
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- TOC entry 270 (class 1255 OID 24587)
-- Name: update_last_edited_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_last_edited_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.last_edited_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_last_edited_at() OWNER TO postgres;

--
-- TOC entry 271 (class 1255 OID 24588)
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 215 (class 1259 OID 24589)
-- Name: access_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.access_requests (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    subject character varying(500),
    message text NOT NULL,
    request_type character varying(50) DEFAULT 'access_request'::character varying,
    requested_access_level character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    submitted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    processed_at timestamp without time zone,
    processed_by uuid,
    admin_notes text,
    CONSTRAINT access_requests_request_type_check CHECK (((request_type)::text = ANY (ARRAY[('contact'::character varying)::text, ('access_request'::character varying)::text]))),
    CONSTRAINT access_requests_requested_access_level_check CHECK (((requested_access_level)::text = ANY (ARRAY[('professional'::character varying)::text, ('personal'::character varying)::text]))),
    CONSTRAINT access_requests_status_check CHECK (((status)::text = ANY (ARRAY[('pending'::character varying)::text, ('approved'::character varying)::text, ('rejected'::character varying)::text])))
);


ALTER TABLE public.access_requests OWNER TO postgres;

--
-- TOC entry 216 (class 1259 OID 24601)
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    type character varying(255) NOT NULL,
    provider character varying(255) NOT NULL,
    provider_account_id character varying(255) NOT NULL,
    refresh_token text,
    access_token text,
    expires_at bigint,
    id_token text,
    scope text,
    session_state text,
    token_type text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- TOC entry 217 (class 1259 OID 24609)
-- Name: bulk_operations_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bulk_operations_log (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    operation_type character varying(50) NOT NULL,
    target_type character varying(50) NOT NULL,
    target_ids uuid[],
    parameters jsonb,
    status character varying(20) DEFAULT 'pending'::character varying,
    total_items integer DEFAULT 0,
    processed_items integer DEFAULT 0,
    errors text[],
    performed_by uuid,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    CONSTRAINT bulk_operations_log_status_check CHECK (((status)::text = ANY (ARRAY[('pending'::character varying)::text, ('processing'::character varying)::text, ('completed'::character varying)::text, ('failed'::character varying)::text])))
);


ALTER TABLE public.bulk_operations_log OWNER TO postgres;

--
-- TOC entry 218 (class 1259 OID 24620)
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    description text,
    color character varying(7) DEFAULT '#3B82F6'::character varying,
    post_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- TOC entry 219 (class 1259 OID 24630)
-- Name: content_collaborators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_collaborators (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    content_id uuid NOT NULL,
    content_type character varying(50) NOT NULL,
    user_id uuid,
    user_email character varying(255) NOT NULL,
    permission_level character varying(20) DEFAULT 'editor'::character varying,
    invited_by uuid,
    invited_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    accepted_at timestamp without time zone,
    status character varying(20) DEFAULT 'pending'::character varying,
    CONSTRAINT content_collaborators_content_type_check CHECK (((content_type)::text = ANY (ARRAY[('post'::character varying)::text, ('project'::character varying)::text, ('page'::character varying)::text]))),
    CONSTRAINT content_collaborators_permission_level_check CHECK (((permission_level)::text = ANY (ARRAY[('viewer'::character varying)::text, ('editor'::character varying)::text, ('owner'::character varying)::text]))),
    CONSTRAINT content_collaborators_status_check CHECK (((status)::text = ANY (ARRAY[('pending'::character varying)::text, ('accepted'::character varying)::text, ('rejected'::character varying)::text])))
);


ALTER TABLE public.content_collaborators OWNER TO postgres;

--
-- TOC entry 220 (class 1259 OID 24640)
-- Name: content_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_comments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    content_id uuid NOT NULL,
    content_type character varying(50) NOT NULL,
    user_id uuid,
    user_email character varying(255) NOT NULL,
    comment text NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT content_comments_content_type_check CHECK (((content_type)::text = ANY (ARRAY[('post'::character varying)::text, ('project'::character varying)::text, ('page'::character varying)::text]))),
    CONSTRAINT content_comments_status_check CHECK (((status)::text = ANY (ARRAY[('active'::character varying)::text, ('resolved'::character varying)::text, ('deleted'::character varying)::text])))
);


ALTER TABLE public.content_comments OWNER TO postgres;

--
-- TOC entry 221 (class 1259 OID 24651)
-- Name: content_drafts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_drafts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    content_type character varying(20) NOT NULL,
    content_id uuid NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    auto_save boolean DEFAULT false,
    version integer DEFAULT 1,
    CONSTRAINT content_drafts_content_type_check CHECK (((content_type)::text = ANY (ARRAY[('project'::character varying)::text, ('post'::character varying)::text, ('page'::character varying)::text])))
);


ALTER TABLE public.content_drafts OWNER TO postgres;

--
-- TOC entry 222 (class 1259 OID 24663)
-- Name: content_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_templates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(50) NOT NULL,
    description text,
    content text NOT NULL,
    variables text[],
    usage_count integer DEFAULT 0,
    author character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT content_templates_type_check CHECK (((type)::text = ANY (ARRAY[('post'::character varying)::text, ('project'::character varying)::text, ('page'::character varying)::text, ('newsletter'::character varying)::text])))
);


ALTER TABLE public.content_templates OWNER TO postgres;

--
-- TOC entry 223 (class 1259 OID 24673)
-- Name: content_versions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_versions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    content_id uuid NOT NULL,
    content_type character varying(50) NOT NULL,
    version_number integer NOT NULL,
    title character varying(500) NOT NULL,
    content text NOT NULL,
    changes_summary text,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_current boolean DEFAULT false,
    CONSTRAINT content_versions_content_type_check CHECK (((content_type)::text = ANY (ARRAY[('post'::character varying)::text, ('project'::character varying)::text, ('page'::character varying)::text])))
);


ALTER TABLE public.content_versions OWNER TO postgres;

--
-- TOC entry 224 (class 1259 OID 24682)
-- Name: media_files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.media_files (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    filename character varying(500) NOT NULL,
    original_name character varying(500) NOT NULL,
    file_path character varying(1000) NOT NULL,
    file_size bigint,
    mime_type character varying(100),
    content_type character varying(50),
    alt_text text,
    uploaded_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    starred boolean DEFAULT false,
    tags jsonb DEFAULT '[]'::jsonb,
    folder character varying(255) DEFAULT NULL::character varying,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT media_files_content_type_check CHECK (((content_type)::text = ANY (ARRAY[('post'::character varying)::text, ('project'::character varying)::text, ('newsletter'::character varying)::text, ('general'::character varying)::text])))
);


ALTER TABLE public.media_files OWNER TO postgres;

--
-- TOC entry 225 (class 1259 OID 24694)
-- Name: media_folders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.media_folders (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    parent_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.media_folders OWNER TO postgres;

--
-- TOC entry 226 (class 1259 OID 24699)
-- Name: media_folders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.media_folders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.media_folders_id_seq OWNER TO postgres;

--
-- TOC entry 3978 (class 0 OID 0)
-- Dependencies: 226
-- Name: media_folders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.media_folders_id_seq OWNED BY public.media_folders.id;


--
-- TOC entry 227 (class 1259 OID 24700)
-- Name: newsletter_analytics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_analytics (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    campaign_id uuid,
    subscriber_id uuid,
    email character varying(255) NOT NULL,
    event_type character varying(50) NOT NULL,
    event_data jsonb DEFAULT '{}'::jsonb,
    user_agent text,
    ip_address character varying(45),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT newsletter_analytics_event_type_check CHECK (((event_type)::text = ANY (ARRAY[('sent'::character varying)::text, ('delivered'::character varying)::text, ('opened'::character varying)::text, ('clicked'::character varying)::text, ('bounced'::character varying)::text, ('unsubscribed'::character varying)::text, ('complained'::character varying)::text])))
);


ALTER TABLE public.newsletter_analytics OWNER TO postgres;

--
-- TOC entry 228 (class 1259 OID 24709)
-- Name: newsletter_automation_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_automation_rules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    type character varying(50) NOT NULL,
    is_active boolean DEFAULT true,
    trigger_conditions jsonb NOT NULL,
    template_id uuid,
    schedule_config jsonb DEFAULT '{}'::jsonb,
    target_criteria jsonb DEFAULT '{}'::jsonb,
    last_run_at timestamp without time zone,
    next_run_at timestamp without time zone,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT newsletter_automation_rules_type_check CHECK (((type)::text = ANY (ARRAY[('monthly_digest'::character varying)::text, ('welcome_series'::character varying)::text, ('content_trigger'::character varying)::text, ('custom'::character varying)::text])))
);


ALTER TABLE public.newsletter_automation_rules OWNER TO postgres;

--
-- TOC entry 229 (class 1259 OID 24721)
-- Name: newsletter_campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_campaigns (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(500) NOT NULL,
    slug character varying(255) NOT NULL,
    subject character varying(500) NOT NULL,
    preview_text character varying(200),
    content text NOT NULL,
    html_content text,
    plain_text_content text,
    template_id uuid,
    status character varying(50) DEFAULT 'draft'::character varying,
    type character varying(50) NOT NULL,
    permissions jsonb DEFAULT '{"level": "all", "customRules": [], "allowedRoles": ["admin", "editor", "author", "subscriber", "guest"], "allowedUsers": [], "requiresAuth": false, "restrictedUsers": []}'::jsonb,
    target_access_levels text[] DEFAULT ARRAY['all'::text],
    scheduled_send_at timestamp without time zone,
    sent_at timestamp without time zone,
    recipient_count integer DEFAULT 0,
    author character varying(255) DEFAULT 'admin'::character varying,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT newsletter_campaigns_status_check CHECK (((status)::text = ANY (ARRAY[('draft'::character varying)::text, ('scheduled'::character varying)::text, ('sending'::character varying)::text, ('sent'::character varying)::text, ('cancelled'::character varying)::text, ('failed'::character varying)::text]))),
    CONSTRAINT newsletter_campaigns_type_check CHECK (((type)::text = ANY (ARRAY[('manual'::character varying)::text, ('automated'::character varying)::text, ('welcome'::character varying)::text, ('announcement'::character varying)::text])))
);


ALTER TABLE public.newsletter_campaigns OWNER TO postgres;

--
-- TOC entry 230 (class 1259 OID 24736)
-- Name: newsletter_content; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_content (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    incentive text,
    subscriber_count integer DEFAULT 0,
    footer_text text,
    weekly_articles_icon character varying(50) DEFAULT 'document'::character varying,
    weekly_articles_title character varying(100) DEFAULT 'Weekly Articles'::character varying,
    weekly_articles_description text DEFAULT 'In-depth tutorials and insights'::text,
    exclusive_tips_icon character varying(50) DEFAULT 'bolt'::character varying,
    exclusive_tips_title character varying(100) DEFAULT 'Exclusive Tips'::character varying,
    exclusive_tips_description text DEFAULT 'Subscriber-only content and resources'::text,
    early_access_icon character varying(50) DEFAULT 'clock'::character varying,
    early_access_title character varying(100) DEFAULT 'Early Access'::character varying,
    early_access_description text DEFAULT 'Be first to see new projects and posts'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.newsletter_content OWNER TO postgres;

--
-- TOC entry 231 (class 1259 OID 24754)
-- Name: newsletter_subscribers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_subscribers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    phone character varying(50),
    company character varying(255),
    interests text[],
    subscription_source character varying(100) DEFAULT 'website'::character varying,
    subscription_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true,
    is_confirmed boolean DEFAULT true,
    unsubscribe_token uuid DEFAULT public.uuid_generate_v4(),
    unsubscribed_at timestamp without time zone,
    unsubscribe_reason text,
    preferences jsonb DEFAULT '{}'::jsonb,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.newsletter_subscribers OWNER TO postgres;

--
-- TOC entry 232 (class 1259 OID 24769)
-- Name: newsletter_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_templates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    template_html text NOT NULL,
    template_variables text[],
    is_default boolean DEFAULT false,
    usage_count integer DEFAULT 0,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    type character varying(50) DEFAULT 'custom'::character varying,
    html_content text,
    plain_text_content text,
    subject_template character varying(500),
    preview_text_template character varying(200),
    variables jsonb DEFAULT '{}'::jsonb,
    is_active boolean DEFAULT true,
    is_system boolean DEFAULT false
);


ALTER TABLE public.newsletter_templates OWNER TO postgres;

--
-- TOC entry 233 (class 1259 OID 24783)
-- Name: pages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pages (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    title character varying(500) NOT NULL,
    slug character varying(255) NOT NULL,
    content text NOT NULL,
    meta_description text,
    header_title character varying(500),
    header_subtitle text,
    hero_heading character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    connect_section_title character varying(255),
    connect_section_content text,
    form_section_title character varying(255),
    form_description text
);


ALTER TABLE public.pages OWNER TO postgres;

--
-- TOC entry 234 (class 1259 OID 24791)
-- Name: posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.posts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(500) NOT NULL,
    slug character varying(255) NOT NULL,
    content text NOT NULL,
    excerpt text,
    featured_image character varying(500),
    tags text[],
    author character varying(255) DEFAULT 'Anonymous'::character varying,
    read_time integer DEFAULT 5,
    date date DEFAULT CURRENT_DATE NOT NULL,
    permission_level character varying(50) DEFAULT 'all'::character varying,
    status character varying(50) DEFAULT 'draft'::character varying,
    scheduled_publish_at timestamp without time zone,
    published_at timestamp without time zone,
    published boolean DEFAULT false,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    draft_content text,
    last_edited_by uuid,
    last_edited_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    featured boolean DEFAULT false,
    CONSTRAINT posts_permission_level_check CHECK (((permission_level)::text = ANY (ARRAY[('all'::character varying)::text, ('professional'::character varying)::text, ('personal'::character varying)::text]))),
    CONSTRAINT posts_status_check CHECK (((status)::text = ANY (ARRAY[('draft'::character varying)::text, ('scheduled'::character varying)::text, ('published'::character varying)::text])))
);


ALTER TABLE public.posts OWNER TO postgres;

--
-- TOC entry 235 (class 1259 OID 24809)
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    image_url character varying(500),
    skills text[],
    location character varying(255),
    email character varying(255),
    bio text,
    social_links jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    home_page_skills jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- TOC entry 236 (class 1259 OID 24818)
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(500) NOT NULL,
    slug character varying(255) NOT NULL,
    description text NOT NULL,
    content text,
    image character varying(500),
    technologies text[] NOT NULL,
    live_demo character varying(500),
    source_code character varying(500),
    featured boolean DEFAULT false,
    permission_level character varying(50) DEFAULT 'all'::character varying,
    status character varying(50) DEFAULT 'draft'::character varying,
    scheduled_publish_at timestamp without time zone,
    published_at timestamp without time zone,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    draft_content text,
    last_edited_by uuid,
    last_edited_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT projects_permission_level_check CHECK (((permission_level)::text = ANY (ARRAY[('all'::character varying)::text, ('professional'::character varying)::text, ('personal'::character varying)::text]))),
    CONSTRAINT projects_status_check CHECK (((status)::text = ANY (ARRAY[('draft'::character varying)::text, ('scheduled'::character varying)::text, ('published'::character varying)::text])))
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- TOC entry 237 (class 1259 OID 24832)
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(50) NOT NULL,
    display_name character varying(100) NOT NULL,
    description text,
    permissions text[] NOT NULL,
    is_system boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- TOC entry 238 (class 1259 OID 24841)
-- Name: security_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    user_email character varying(255),
    action character varying(100) NOT NULL,
    details text,
    ip_address inet,
    user_agent text,
    status character varying(20) DEFAULT 'success'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT security_logs_status_check CHECK (((status)::text = ANY (ARRAY[('success'::character varying)::text, ('warning'::character varying)::text, ('error'::character varying)::text])))
);


ALTER TABLE public.security_logs OWNER TO postgres;

--
-- TOC entry 239 (class 1259 OID 24850)
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    session_token character varying(255) NOT NULL,
    user_id uuid NOT NULL,
    expires timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- TOC entry 240 (class 1259 OID 24856)
-- Name: site_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.site_settings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    setting_key character varying(255) NOT NULL,
    setting_value text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.site_settings OWNER TO postgres;

--
-- TOC entry 241 (class 1259 OID 24863)
-- Name: user_2fa_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_2fa_settings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    is_enabled boolean DEFAULT false,
    secret_key character varying(255),
    backup_codes text[],
    last_used_at timestamp without time zone,
    enabled_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_2fa_settings OWNER TO postgres;

--
-- TOC entry 242 (class 1259 OID 24872)
-- Name: user_access_levels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_access_levels (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    email character varying(255) NOT NULL,
    has_professional_access boolean DEFAULT false,
    has_personal_access boolean DEFAULT false,
    granted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    granted_by uuid,
    is_active boolean DEFAULT true,
    notes text
);


ALTER TABLE public.user_access_levels OWNER TO postgres;

--
-- TOC entry 243 (class 1259 OID 24882)
-- Name: user_activity_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_activity_log (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    description text,
    performed_by character varying(255),
    ip_address character varying(45),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_activity_log OWNER TO postgres;

--
-- TOC entry 244 (class 1259 OID 24889)
-- Name: user_login_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_login_sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    session_token character varying(255) NOT NULL,
    device_info text,
    ip_address inet,
    location character varying(255),
    is_current boolean DEFAULT false,
    last_activity timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone NOT NULL
);


ALTER TABLE public.user_login_sessions OWNER TO postgres;

--
-- TOC entry 245 (class 1259 OID 24898)
-- Name: user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    permission_name character varying(100) NOT NULL,
    granted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    granted_by uuid,
    is_active boolean DEFAULT true
);


ALTER TABLE public.user_permissions OWNER TO postgres;

--
-- TOC entry 246 (class 1259 OID 24904)
-- Name: user_role_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_role_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    old_role character varying(100),
    new_role character varying(100) NOT NULL,
    changed_by uuid,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    reason text
);


ALTER TABLE public.user_role_history OWNER TO postgres;

--
-- TOC entry 247 (class 1259 OID 24911)
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'user'::character varying,
    email_verified boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone,
    login_attempts integer DEFAULT 0,
    locked_until timestamp without time zone,
    status character varying(50) DEFAULT 'active'::character varying,
    profile_image character varying(500),
    preferences jsonb DEFAULT '{}'::jsonb,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY (ARRAY[('subscriber'::character varying)::text, ('author'::character varying)::text, ('editor'::character varying)::text, ('admin'::character varying)::text, ('user'::character varying)::text, ('moderator'::character varying)::text]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY (ARRAY[('active'::character varying)::text, ('inactive'::character varying)::text, ('pending'::character varying)::text, ('suspended'::character varying)::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- TOC entry 248 (class 1259 OID 24926)
-- Name: verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verification_tokens (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    identifier character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    expires timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.verification_tokens OWNER TO postgres;

--
-- TOC entry 3445 (class 2604 OID 24933)
-- Name: media_folders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_folders ALTER COLUMN id SET DEFAULT nextval('public.media_folders_id_seq'::regclass);


--
-- TOC entry 3937 (class 0 OID 24589)
-- Dependencies: 215
-- Data for Name: access_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.access_requests (id, name, email, subject, message, request_type, requested_access_level, status, submitted_at, processed_at, processed_by, admin_notes) FROM stdin;
\.


--
-- TOC entry 3938 (class 0 OID 24601)
-- Dependencies: 216
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts (id, user_id, type, provider, provider_account_id, refresh_token, access_token, expires_at, id_token, scope, session_state, token_type, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 3939 (class 0 OID 24609)
-- Dependencies: 217
-- Data for Name: bulk_operations_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bulk_operations_log (id, operation_type, target_type, target_ids, parameters, status, total_items, processed_items, errors, performed_by, started_at, completed_at) FROM stdin;
\.


--
-- TOC entry 3940 (class 0 OID 24620)
-- Dependencies: 218
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, slug, description, color, post_count, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 3941 (class 0 OID 24630)
-- Dependencies: 219
-- Data for Name: content_collaborators; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.content_collaborators (id, content_id, content_type, user_id, user_email, permission_level, invited_by, invited_at, accepted_at, status) FROM stdin;
\.


--
-- TOC entry 3942 (class 0 OID 24640)
-- Dependencies: 220
-- Data for Name: content_comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.content_comments (id, content_id, content_type, user_id, user_email, comment, status, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 3943 (class 0 OID 24651)
-- Dependencies: 221
-- Data for Name: content_drafts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3944 (class 0 OID 24663)
-- Dependencies: 222
-- Data for Name: content_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3945 (class 0 OID 24673)
-- Dependencies: 223
-- Data for Name: content_versions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.content_versions (id, content_id, content_type, version_number, title, content, changes_summary, created_by, created_at, is_current) FROM stdin;
\.


--
-- TOC entry 3946 (class 0 OID 24682)
-- Dependencies: 224
-- Data for Name: media_files; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3947 (class 0 OID 24694)
-- Dependencies: 225
-- Data for Name: media_folders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.media_folders (id, name, parent_id, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 3949 (class 0 OID 24700)
-- Dependencies: 227
-- Data for Name: newsletter_analytics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.newsletter_analytics (id, campaign_id, subscriber_id, email, event_type, event_data, user_agent, ip_address, created_at) FROM stdin;
\.


--
-- TOC entry 3950 (class 0 OID 24709)
-- Dependencies: 228
-- Data for Name: newsletter_automation_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.newsletter_automation_rules (id, name, description, type, is_active, trigger_conditions, template_id, schedule_config, target_criteria, last_run_at, next_run_at, created_by, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 3951 (class 0 OID 24721)
-- Dependencies: 229
-- Data for Name: newsletter_campaigns; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.newsletter_campaigns (id, title, slug, subject, preview_text, content, html_content, plain_text_content, template_id, status, type, permissions, target_access_levels, scheduled_send_at, sent_at, recipient_count, author, created_by, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 3952 (class 0 OID 24736)
-- Dependencies: 230
-- Data for Name: newsletter_content; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3953 (class 0 OID 24754)
-- Dependencies: 231
-- Data for Name: newsletter_subscribers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.newsletter_subscribers (id, email, name, first_name, last_name, phone, company, interests, subscription_source, subscription_date, is_active, is_confirmed, unsubscribe_token, unsubscribed_at, unsubscribe_reason, preferences, metadata, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 3954 (class 0 OID 24769)
-- Dependencies: 232
-- Data for Name: newsletter_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3955 (class 0 OID 24783)
-- Dependencies: 233
-- Data for Name: pages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3956 (class 0 OID 24791)
-- Dependencies: 234
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3957 (class 0 OID 24809)
-- Dependencies: 235
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3958 (class 0 OID 24818)
-- Dependencies: 236
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3959 (class 0 OID 24832)
-- Dependencies: 237
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3960 (class 0 OID 24841)
-- Dependencies: 238
-- Data for Name: security_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.security_logs (id, user_id, user_email, action, details, ip_address, user_agent, status, created_at) FROM stdin;
\.


--
-- TOC entry 3961 (class 0 OID 24850)
-- Dependencies: 239
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sessions (id, session_token, user_id, expires, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 3962 (class 0 OID 24856)
-- Dependencies: 240
-- Data for Name: site_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3963 (class 0 OID 24863)
-- Dependencies: 241
-- Data for Name: user_2fa_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_2fa_settings (id, user_id, is_enabled, secret_key, backup_codes, last_used_at, enabled_at, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 3964 (class 0 OID 24872)
-- Dependencies: 242
-- Data for Name: user_access_levels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_access_levels (id, user_id, email, has_professional_access, has_personal_access, granted_at, granted_by, is_active, notes) FROM stdin;
7b61be22-60a6-4060-be53-518994c4a6ce	\N	admin@example.com	t	t	2025-07-09 21:10:18.167984	\N	t	Admin user with full access
a8a36f3b-88e7-408f-8f88-5536dd939f17	f2ebffd1-9db4-4dcf-b75f-659c0a7cc1a0	test@example.com	f	t	2025-07-12 13:05:58.606278	ff43d28c-ca1d-4f4c-a482-739dea31875b	t	User created by admin with subscriber role
\.


--
-- TOC entry 3965 (class 0 OID 24882)
-- Dependencies: 243
-- Data for Name: user_activity_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3966 (class 0 OID 24889)
-- Dependencies: 244
-- Data for Name: user_login_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_login_sessions (id, user_id, session_token, device_info, ip_address, location, is_current, last_activity, created_at, expires_at) FROM stdin;
\.


--
-- TOC entry 3967 (class 0 OID 24898)
-- Dependencies: 245
-- Data for Name: user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_permissions (id, user_id, permission_name, granted_at, granted_by, is_active) FROM stdin;
\.


--
-- TOC entry 3968 (class 0 OID 24904)
-- Dependencies: 246
-- Data for Name: user_role_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_role_history (id, user_id, old_role, new_role, changed_by, changed_at, reason) FROM stdin;
\.


--
-- TOC entry 3969 (class 0 OID 24911)
-- Dependencies: 247
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3970 (class 0 OID 24926)
-- Dependencies: 248
-- Data for Name: verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verification_tokens (id, identifier, token, expires, created_at) FROM stdin;
\.


--
-- TOC entry 3979 (class 0 OID 0)
-- Dependencies: 226
-- Name: media_folders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.media_folders_id_seq', 1, false);


--
-- TOC entry 3589 (class 2606 OID 24940)
-- Name: access_requests access_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_pkey PRIMARY KEY (id);


--
-- TOC entry 3593 (class 2606 OID 24942)
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- TOC entry 3597 (class 2606 OID 24944)
-- Name: bulk_operations_log bulk_operations_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bulk_operations_log
    ADD CONSTRAINT bulk_operations_log_pkey PRIMARY KEY (id);


--
-- TOC entry 3600 (class 2606 OID 24946)
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- TOC entry 3602 (class 2606 OID 24948)
-- Name: categories categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_slug_key UNIQUE (slug);


--
-- TOC entry 3605 (class 2606 OID 24950)
-- Name: content_collaborators content_collaborators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_collaborators
    ADD CONSTRAINT content_collaborators_pkey PRIMARY KEY (id);


--
-- TOC entry 3609 (class 2606 OID 24952)
-- Name: content_comments content_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_comments
    ADD CONSTRAINT content_comments_pkey PRIMARY KEY (id);


--
-- TOC entry 3612 (class 2606 OID 24954)
-- Name: content_drafts content_drafts_content_type_content_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_drafts
    ADD CONSTRAINT content_drafts_content_type_content_id_key UNIQUE (content_type, content_id);


--
-- TOC entry 3614 (class 2606 OID 24956)
-- Name: content_drafts content_drafts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_drafts
    ADD CONSTRAINT content_drafts_pkey PRIMARY KEY (id);


--
-- TOC entry 3620 (class 2606 OID 24958)
-- Name: content_templates content_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_templates
    ADD CONSTRAINT content_templates_pkey PRIMARY KEY (id);


--
-- TOC entry 3622 (class 2606 OID 24960)
-- Name: content_versions content_versions_content_id_version_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_versions
    ADD CONSTRAINT content_versions_content_id_version_number_key UNIQUE (content_id, version_number);


--
-- TOC entry 3624 (class 2606 OID 24962)
-- Name: content_versions content_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_versions
    ADD CONSTRAINT content_versions_pkey PRIMARY KEY (id);


--
-- TOC entry 3632 (class 2606 OID 24964)
-- Name: media_files media_files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_files
    ADD CONSTRAINT media_files_pkey PRIMARY KEY (id);


--
-- TOC entry 3635 (class 2606 OID 24966)
-- Name: media_folders media_folders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_folders
    ADD CONSTRAINT media_folders_pkey PRIMARY KEY (id);


--
-- TOC entry 3641 (class 2606 OID 24968)
-- Name: newsletter_analytics newsletter_analytics_campaign_id_subscriber_id_event_type_c_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_analytics
    ADD CONSTRAINT newsletter_analytics_campaign_id_subscriber_id_event_type_c_key UNIQUE (campaign_id, subscriber_id, event_type, created_at);


--
-- TOC entry 3643 (class 2606 OID 24970)
-- Name: newsletter_analytics newsletter_analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_analytics
    ADD CONSTRAINT newsletter_analytics_pkey PRIMARY KEY (id);


--
-- TOC entry 3647 (class 2606 OID 24972)
-- Name: newsletter_automation_rules newsletter_automation_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_automation_rules
    ADD CONSTRAINT newsletter_automation_rules_pkey PRIMARY KEY (id);


--
-- TOC entry 3652 (class 2606 OID 24974)
-- Name: newsletter_campaigns newsletter_campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_campaigns
    ADD CONSTRAINT newsletter_campaigns_pkey PRIMARY KEY (id);


--
-- TOC entry 3654 (class 2606 OID 24976)
-- Name: newsletter_campaigns newsletter_campaigns_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_campaigns
    ADD CONSTRAINT newsletter_campaigns_slug_key UNIQUE (slug);


--
-- TOC entry 3656 (class 2606 OID 24978)
-- Name: newsletter_content newsletter_content_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_content
    ADD CONSTRAINT newsletter_content_pkey PRIMARY KEY (id);


--
-- TOC entry 3661 (class 2606 OID 24980)
-- Name: newsletter_subscribers newsletter_subscribers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_subscribers
    ADD CONSTRAINT newsletter_subscribers_email_key UNIQUE (email);


--
-- TOC entry 3663 (class 2606 OID 24982)
-- Name: newsletter_subscribers newsletter_subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_subscribers
    ADD CONSTRAINT newsletter_subscribers_pkey PRIMARY KEY (id);


--
-- TOC entry 3665 (class 2606 OID 24984)
-- Name: newsletter_templates newsletter_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_templates
    ADD CONSTRAINT newsletter_templates_pkey PRIMARY KEY (id);


--
-- TOC entry 3668 (class 2606 OID 24986)
-- Name: pages pages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_pkey PRIMARY KEY (id);


--
-- TOC entry 3670 (class 2606 OID 24988)
-- Name: pages pages_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_slug_key UNIQUE (slug);


--
-- TOC entry 3678 (class 2606 OID 24990)
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- TOC entry 3680 (class 2606 OID 24992)
-- Name: posts posts_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_slug_key UNIQUE (slug);


--
-- TOC entry 3683 (class 2606 OID 24994)
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- TOC entry 3690 (class 2606 OID 24996)
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- TOC entry 3692 (class 2606 OID 24998)
-- Name: projects projects_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_slug_key UNIQUE (slug);


--
-- TOC entry 3694 (class 2606 OID 25000)
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- TOC entry 3696 (class 2606 OID 25002)
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- TOC entry 3700 (class 2606 OID 25004)
-- Name: security_logs security_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_logs
    ADD CONSTRAINT security_logs_pkey PRIMARY KEY (id);


--
-- TOC entry 3704 (class 2606 OID 25006)
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- TOC entry 3706 (class 2606 OID 25008)
-- Name: sessions sessions_session_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_session_token_key UNIQUE (session_token);


--
-- TOC entry 3708 (class 2606 OID 25010)
-- Name: site_settings site_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_pkey PRIMARY KEY (id);


--
-- TOC entry 3710 (class 2606 OID 25012)
-- Name: site_settings site_settings_setting_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_setting_key_key UNIQUE (setting_key);


--
-- TOC entry 3712 (class 2606 OID 25014)
-- Name: user_2fa_settings user_2fa_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_settings
    ADD CONSTRAINT user_2fa_settings_pkey PRIMARY KEY (id);


--
-- TOC entry 3714 (class 2606 OID 25016)
-- Name: user_2fa_settings user_2fa_settings_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_settings
    ADD CONSTRAINT user_2fa_settings_user_id_key UNIQUE (user_id);


--
-- TOC entry 3719 (class 2606 OID 25018)
-- Name: user_access_levels user_access_levels_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_access_levels
    ADD CONSTRAINT user_access_levels_email_key UNIQUE (email);


--
-- TOC entry 3721 (class 2606 OID 25020)
-- Name: user_access_levels user_access_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_access_levels
    ADD CONSTRAINT user_access_levels_pkey PRIMARY KEY (id);


--
-- TOC entry 3726 (class 2606 OID 25022)
-- Name: user_activity_log user_activity_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_activity_log
    ADD CONSTRAINT user_activity_log_pkey PRIMARY KEY (id);


--
-- TOC entry 3730 (class 2606 OID 25024)
-- Name: user_login_sessions user_login_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_sessions
    ADD CONSTRAINT user_login_sessions_pkey PRIMARY KEY (id);


--
-- TOC entry 3734 (class 2606 OID 25026)
-- Name: user_permissions user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT user_permissions_pkey PRIMARY KEY (id);


--
-- TOC entry 3736 (class 2606 OID 25028)
-- Name: user_permissions user_permissions_user_id_permission_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT user_permissions_user_id_permission_name_key UNIQUE (user_id, permission_name);


--
-- TOC entry 3739 (class 2606 OID 25030)
-- Name: user_role_history user_role_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_role_history
    ADD CONSTRAINT user_role_history_pkey PRIMARY KEY (id);


--
-- TOC entry 3741 (class 2606 OID 25032)
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- TOC entry 3743 (class 2606 OID 25034)
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- TOC entry 3746 (class 2606 OID 25036)
-- Name: verification_tokens verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_tokens
    ADD CONSTRAINT verification_tokens_pkey PRIMARY KEY (id);


--
-- TOC entry 3748 (class 2606 OID 25038)
-- Name: verification_tokens verification_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_tokens
    ADD CONSTRAINT verification_tokens_token_key UNIQUE (token);


--
-- TOC entry 3590 (class 1259 OID 25039)
-- Name: idx_access_requests_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_requests_email ON public.access_requests USING btree (email);


--
-- TOC entry 3591 (class 1259 OID 25040)
-- Name: idx_access_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_requests_status ON public.access_requests USING btree (status);


--
-- TOC entry 3594 (class 1259 OID 25041)
-- Name: idx_accounts_provider; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accounts_provider ON public.accounts USING btree (provider, provider_account_id);


--
-- TOC entry 3595 (class 1259 OID 25042)
-- Name: idx_accounts_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accounts_user_id ON public.accounts USING btree (user_id);


--
-- TOC entry 3598 (class 1259 OID 25043)
-- Name: idx_bulk_operations_log_performed_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bulk_operations_log_performed_by ON public.bulk_operations_log USING btree (performed_by);


--
-- TOC entry 3603 (class 1259 OID 25044)
-- Name: idx_categories_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_slug ON public.categories USING btree (slug);


--
-- TOC entry 3606 (class 1259 OID 25045)
-- Name: idx_content_collaborators_content_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_collaborators_content_id ON public.content_collaborators USING btree (content_id);


--
-- TOC entry 3607 (class 1259 OID 25046)
-- Name: idx_content_collaborators_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_collaborators_user_id ON public.content_collaborators USING btree (user_id);


--
-- TOC entry 3610 (class 1259 OID 25047)
-- Name: idx_content_comments_content_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_comments_content_id ON public.content_comments USING btree (content_id);


--
-- TOC entry 3615 (class 1259 OID 25048)
-- Name: idx_content_drafts_content_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_drafts_content_id ON public.content_drafts USING btree (content_id);


--
-- TOC entry 3616 (class 1259 OID 25049)
-- Name: idx_content_drafts_created_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_drafts_created_by ON public.content_drafts USING btree (created_by);


--
-- TOC entry 3617 (class 1259 OID 25050)
-- Name: idx_content_drafts_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_drafts_type ON public.content_drafts USING btree (content_type);


--
-- TOC entry 3618 (class 1259 OID 25051)
-- Name: idx_content_drafts_updated_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_drafts_updated_at ON public.content_drafts USING btree (updated_at);


--
-- TOC entry 3625 (class 1259 OID 25052)
-- Name: idx_content_versions_content_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_versions_content_id ON public.content_versions USING btree (content_id);


--
-- TOC entry 3626 (class 1259 OID 25053)
-- Name: idx_content_versions_content_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_versions_content_type ON public.content_versions USING btree (content_type);


--
-- TOC entry 3627 (class 1259 OID 25054)
-- Name: idx_media_files_folder; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_media_files_folder ON public.media_files USING btree (folder);


--
-- TOC entry 3628 (class 1259 OID 25055)
-- Name: idx_media_files_starred; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_media_files_starred ON public.media_files USING btree (starred);


--
-- TOC entry 3629 (class 1259 OID 25056)
-- Name: idx_media_files_tags; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_media_files_tags ON public.media_files USING gin (tags);


--
-- TOC entry 3630 (class 1259 OID 25057)
-- Name: idx_media_files_updated_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_media_files_updated_at ON public.media_files USING btree (updated_at);


--
-- TOC entry 3633 (class 1259 OID 25058)
-- Name: idx_media_folders_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_media_folders_parent ON public.media_folders USING btree (parent_id);


--
-- TOC entry 3636 (class 1259 OID 25059)
-- Name: idx_newsletter_analytics_campaign; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_analytics_campaign ON public.newsletter_analytics USING btree (campaign_id);


--
-- TOC entry 3637 (class 1259 OID 25060)
-- Name: idx_newsletter_analytics_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_analytics_created_at ON public.newsletter_analytics USING btree (created_at);


--
-- TOC entry 3638 (class 1259 OID 25061)
-- Name: idx_newsletter_analytics_event_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_analytics_event_type ON public.newsletter_analytics USING btree (event_type);


--
-- TOC entry 3639 (class 1259 OID 25062)
-- Name: idx_newsletter_analytics_subscriber; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_analytics_subscriber ON public.newsletter_analytics USING btree (subscriber_id);


--
-- TOC entry 3644 (class 1259 OID 25063)
-- Name: idx_newsletter_automation_rules_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_automation_rules_active ON public.newsletter_automation_rules USING btree (is_active);


--
-- TOC entry 3645 (class 1259 OID 25064)
-- Name: idx_newsletter_automation_rules_next_run; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_automation_rules_next_run ON public.newsletter_automation_rules USING btree (next_run_at);


--
-- TOC entry 3648 (class 1259 OID 25065)
-- Name: idx_newsletter_campaigns_scheduled; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_campaigns_scheduled ON public.newsletter_campaigns USING btree (scheduled_send_at);


--
-- TOC entry 3649 (class 1259 OID 25066)
-- Name: idx_newsletter_campaigns_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_campaigns_status ON public.newsletter_campaigns USING btree (status);


--
-- TOC entry 3650 (class 1259 OID 25067)
-- Name: idx_newsletter_campaigns_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_campaigns_type ON public.newsletter_campaigns USING btree (type);


--
-- TOC entry 3657 (class 1259 OID 25068)
-- Name: idx_newsletter_subscribers_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_subscribers_active ON public.newsletter_subscribers USING btree (is_active);


--
-- TOC entry 3658 (class 1259 OID 25069)
-- Name: idx_newsletter_subscribers_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_subscribers_email ON public.newsletter_subscribers USING btree (email);


--
-- TOC entry 3659 (class 1259 OID 25070)
-- Name: idx_newsletter_subscribers_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_newsletter_subscribers_source ON public.newsletter_subscribers USING btree (subscription_source);


--
-- TOC entry 3666 (class 1259 OID 25071)
-- Name: idx_pages_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pages_slug ON public.pages USING btree (slug);


--
-- TOC entry 3671 (class 1259 OID 25072)
-- Name: idx_posts_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_posts_date ON public.posts USING btree (date);


--
-- TOC entry 3672 (class 1259 OID 25073)
-- Name: idx_posts_last_edited; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_posts_last_edited ON public.posts USING btree (last_edited_at);


--
-- TOC entry 3673 (class 1259 OID 25074)
-- Name: idx_posts_permission_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_posts_permission_level ON public.posts USING btree (permission_level);


--
-- TOC entry 3674 (class 1259 OID 25075)
-- Name: idx_posts_published; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_posts_published ON public.posts USING btree (published);


--
-- TOC entry 3675 (class 1259 OID 25076)
-- Name: idx_posts_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_posts_slug ON public.posts USING btree (slug);


--
-- TOC entry 3676 (class 1259 OID 25077)
-- Name: idx_posts_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_posts_status ON public.posts USING btree (status);


--
-- TOC entry 3681 (class 1259 OID 25078)
-- Name: idx_profiles_home_page_skills; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_profiles_home_page_skills ON public.profiles USING gin (home_page_skills);


--
-- TOC entry 3684 (class 1259 OID 25079)
-- Name: idx_projects_featured; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_projects_featured ON public.projects USING btree (featured);


--
-- TOC entry 3685 (class 1259 OID 25080)
-- Name: idx_projects_last_edited; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_projects_last_edited ON public.projects USING btree (last_edited_at);


--
-- TOC entry 3686 (class 1259 OID 25081)
-- Name: idx_projects_permission_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_projects_permission_level ON public.projects USING btree (permission_level);


--
-- TOC entry 3687 (class 1259 OID 25082)
-- Name: idx_projects_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_projects_slug ON public.projects USING btree (slug);


--
-- TOC entry 3688 (class 1259 OID 25083)
-- Name: idx_projects_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_projects_status ON public.projects USING btree (status);


--
-- TOC entry 3697 (class 1259 OID 25084)
-- Name: idx_security_logs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_logs_created_at ON public.security_logs USING btree (created_at);


--
-- TOC entry 3698 (class 1259 OID 25085)
-- Name: idx_security_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_logs_user_id ON public.security_logs USING btree (user_id);


--
-- TOC entry 3701 (class 1259 OID 25086)
-- Name: idx_sessions_session_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_session_token ON public.sessions USING btree (session_token);


--
-- TOC entry 3702 (class 1259 OID 25087)
-- Name: idx_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_user_id ON public.sessions USING btree (user_id);


--
-- TOC entry 3715 (class 1259 OID 25088)
-- Name: idx_user_access_levels_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_access_levels_email ON public.user_access_levels USING btree (email);


--
-- TOC entry 3716 (class 1259 OID 25089)
-- Name: idx_user_access_levels_personal; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_access_levels_personal ON public.user_access_levels USING btree (has_personal_access);


--
-- TOC entry 3717 (class 1259 OID 25090)
-- Name: idx_user_access_levels_professional; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_access_levels_professional ON public.user_access_levels USING btree (has_professional_access);


--
-- TOC entry 3722 (class 1259 OID 25091)
-- Name: idx_user_activity_log_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_activity_log_action ON public.user_activity_log USING btree (action);


--
-- TOC entry 3723 (class 1259 OID 25092)
-- Name: idx_user_activity_log_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_activity_log_created_at ON public.user_activity_log USING btree (created_at);


--
-- TOC entry 3724 (class 1259 OID 25093)
-- Name: idx_user_activity_log_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_activity_log_user_id ON public.user_activity_log USING btree (user_id);


--
-- TOC entry 3727 (class 1259 OID 25094)
-- Name: idx_user_login_sessions_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_login_sessions_expires_at ON public.user_login_sessions USING btree (expires_at);


--
-- TOC entry 3728 (class 1259 OID 25095)
-- Name: idx_user_login_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_login_sessions_user_id ON public.user_login_sessions USING btree (user_id);


--
-- TOC entry 3731 (class 1259 OID 25096)
-- Name: idx_user_permissions_permission_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_permissions_permission_name ON public.user_permissions USING btree (permission_name);


--
-- TOC entry 3732 (class 1259 OID 25097)
-- Name: idx_user_permissions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_permissions_user_id ON public.user_permissions USING btree (user_id);


--
-- TOC entry 3737 (class 1259 OID 25098)
-- Name: idx_user_role_history_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_role_history_user_id ON public.user_role_history USING btree (user_id);


--
-- TOC entry 3744 (class 1259 OID 25099)
-- Name: idx_verification_tokens_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_verification_tokens_token ON public.verification_tokens USING btree (token);


--
-- TOC entry 3781 (class 2620 OID 25100)
-- Name: categories update_categories_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_categories_updated_at BEFORE UPDATE ON public.categories FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3782 (class 2620 OID 25101)
-- Name: content_comments update_content_comments_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_content_comments_updated_at BEFORE UPDATE ON public.content_comments FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3783 (class 2620 OID 25102)
-- Name: content_drafts update_content_drafts_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_content_drafts_updated_at BEFORE UPDATE ON public.content_drafts FOR EACH ROW EXECUTE FUNCTION public.update_last_edited_at();


--
-- TOC entry 3784 (class 2620 OID 25103)
-- Name: content_templates update_content_templates_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_content_templates_updated_at BEFORE UPDATE ON public.content_templates FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3785 (class 2620 OID 25104)
-- Name: newsletter_content update_newsletter_content_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_newsletter_content_updated_at BEFORE UPDATE ON public.newsletter_content FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3786 (class 2620 OID 25105)
-- Name: newsletter_templates update_newsletter_templates_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_newsletter_templates_updated_at BEFORE UPDATE ON public.newsletter_templates FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3787 (class 2620 OID 25106)
-- Name: pages update_pages_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_pages_updated_at BEFORE UPDATE ON public.pages FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3788 (class 2620 OID 25107)
-- Name: posts update_posts_last_edited_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_posts_last_edited_at BEFORE UPDATE ON public.posts FOR EACH ROW EXECUTE FUNCTION public.update_last_edited_at();


--
-- TOC entry 3789 (class 2620 OID 25108)
-- Name: posts update_posts_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_posts_updated_at BEFORE UPDATE ON public.posts FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3790 (class 2620 OID 25109)
-- Name: profiles update_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_profiles_updated_at BEFORE UPDATE ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3791 (class 2620 OID 25110)
-- Name: projects update_projects_last_edited_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_projects_last_edited_at BEFORE UPDATE ON public.projects FOR EACH ROW EXECUTE FUNCTION public.update_last_edited_at();


--
-- TOC entry 3792 (class 2620 OID 25111)
-- Name: projects update_projects_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_projects_updated_at BEFORE UPDATE ON public.projects FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3793 (class 2620 OID 25112)
-- Name: roles update_roles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_roles_updated_at BEFORE UPDATE ON public.roles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3794 (class 2620 OID 25113)
-- Name: user_2fa_settings update_user_2fa_settings_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_user_2fa_settings_updated_at BEFORE UPDATE ON public.user_2fa_settings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3749 (class 2606 OID 25114)
-- Name: access_requests access_requests_processed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_processed_by_fkey FOREIGN KEY (processed_by) REFERENCES public.users(id);


--
-- TOC entry 3750 (class 2606 OID 25119)
-- Name: accounts accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 3751 (class 2606 OID 25124)
-- Name: bulk_operations_log bulk_operations_log_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bulk_operations_log
    ADD CONSTRAINT bulk_operations_log_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(id);


--
-- TOC entry 3752 (class 2606 OID 25129)
-- Name: content_collaborators content_collaborators_invited_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_collaborators
    ADD CONSTRAINT content_collaborators_invited_by_fkey FOREIGN KEY (invited_by) REFERENCES public.users(id);


--
-- TOC entry 3753 (class 2606 OID 25134)
-- Name: content_collaborators content_collaborators_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_collaborators
    ADD CONSTRAINT content_collaborators_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3754 (class 2606 OID 25139)
-- Name: content_comments content_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_comments
    ADD CONSTRAINT content_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3755 (class 2606 OID 25144)
-- Name: content_drafts content_drafts_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_drafts
    ADD CONSTRAINT content_drafts_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- TOC entry 3756 (class 2606 OID 25149)
-- Name: content_versions content_versions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_versions
    ADD CONSTRAINT content_versions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- TOC entry 3757 (class 2606 OID 25154)
-- Name: media_files media_files_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_files
    ADD CONSTRAINT media_files_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id);


--
-- TOC entry 3758 (class 2606 OID 25159)
-- Name: media_folders media_folders_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_folders
    ADD CONSTRAINT media_folders_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.media_folders(id) ON DELETE CASCADE;


--
-- TOC entry 3759 (class 2606 OID 25164)
-- Name: newsletter_analytics newsletter_analytics_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_analytics
    ADD CONSTRAINT newsletter_analytics_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.newsletter_campaigns(id) ON DELETE CASCADE;


--
-- TOC entry 3760 (class 2606 OID 25169)
-- Name: newsletter_analytics newsletter_analytics_subscriber_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_analytics
    ADD CONSTRAINT newsletter_analytics_subscriber_id_fkey FOREIGN KEY (subscriber_id) REFERENCES public.newsletter_subscribers(id) ON DELETE CASCADE;


--
-- TOC entry 3761 (class 2606 OID 25174)
-- Name: newsletter_automation_rules newsletter_automation_rules_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_automation_rules
    ADD CONSTRAINT newsletter_automation_rules_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- TOC entry 3762 (class 2606 OID 25179)
-- Name: newsletter_automation_rules newsletter_automation_rules_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_automation_rules
    ADD CONSTRAINT newsletter_automation_rules_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.newsletter_templates(id);


--
-- TOC entry 3763 (class 2606 OID 25184)
-- Name: newsletter_campaigns newsletter_campaigns_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_campaigns
    ADD CONSTRAINT newsletter_campaigns_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- TOC entry 3764 (class 2606 OID 25189)
-- Name: newsletter_campaigns newsletter_campaigns_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_campaigns
    ADD CONSTRAINT newsletter_campaigns_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.newsletter_templates(id);


--
-- TOC entry 3765 (class 2606 OID 25194)
-- Name: newsletter_templates newsletter_templates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_templates
    ADD CONSTRAINT newsletter_templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- TOC entry 3766 (class 2606 OID 25199)
-- Name: posts posts_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- TOC entry 3767 (class 2606 OID 25204)
-- Name: posts posts_last_edited_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_last_edited_by_fkey FOREIGN KEY (last_edited_by) REFERENCES public.users(id);


--
-- TOC entry 3768 (class 2606 OID 25209)
-- Name: projects projects_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- TOC entry 3769 (class 2606 OID 25214)
-- Name: projects projects_last_edited_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_last_edited_by_fkey FOREIGN KEY (last_edited_by) REFERENCES public.users(id);


--
-- TOC entry 3770 (class 2606 OID 25219)
-- Name: security_logs security_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_logs
    ADD CONSTRAINT security_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3771 (class 2606 OID 25224)
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 3772 (class 2606 OID 25229)
-- Name: user_2fa_settings user_2fa_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_settings
    ADD CONSTRAINT user_2fa_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3773 (class 2606 OID 25234)
-- Name: user_access_levels user_access_levels_granted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_access_levels
    ADD CONSTRAINT user_access_levels_granted_by_fkey FOREIGN KEY (granted_by) REFERENCES public.users(id);


--
-- TOC entry 3774 (class 2606 OID 25239)
-- Name: user_access_levels user_access_levels_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_access_levels
    ADD CONSTRAINT user_access_levels_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3775 (class 2606 OID 25244)
-- Name: user_activity_log user_activity_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_activity_log
    ADD CONSTRAINT user_activity_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3776 (class 2606 OID 25249)
-- Name: user_login_sessions user_login_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_sessions
    ADD CONSTRAINT user_login_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3777 (class 2606 OID 25254)
-- Name: user_permissions user_permissions_granted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT user_permissions_granted_by_fkey FOREIGN KEY (granted_by) REFERENCES public.users(id);


--
-- TOC entry 3778 (class 2606 OID 25259)
-- Name: user_permissions user_permissions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT user_permissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 3779 (class 2606 OID 25264)
-- Name: user_role_history user_role_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_role_history
    ADD CONSTRAINT user_role_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- TOC entry 3780 (class 2606 OID 25269)
-- Name: user_role_history user_role_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_role_history
    ADD CONSTRAINT user_role_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 3977 (class 0 OID 0)
-- Dependencies: 221
-- Name: TABLE content_drafts; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.content_drafts TO PUBLIC;


-- Completed on 2025-11-09 22:27:49 UTC

--
-- PostgreSQL database dump complete
--

\unrestrict 1mk36IE8p7R2eMR7wdrYIfCeF2ShbPodQsh0F5igYkdlosaIugM2dy1wu2pyl3r

