[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/app/site
ExecStart=/opt/app/site/scripts/start-docker-compose.sh up -d
ExecStop=/opt/app/site/scripts/start-docker-compose.sh down
TimeoutStartSec=300
User=prod-admin
Group=docker
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target

